.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.formLabel {
  margin-left: 20px;
  margin-right: 3px;
}

.modalBody {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.inputFormDiv {
  margin: 10px 20px;
}

.selectLabel {
  width: 150px;
}

.productList {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.productDiv {
  width: 300px;
  margin: 20px;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  background-color: rgba(225, 216, 176, 0.35);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.productTopButtons {
  display: flex;
  justify-content: end;
}
.productTopButtons button {
  border: none;
  background: none;
  margin-right: 10px;
  font-size: 20px;
}

.productLowButtons button {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-bottom: 5px;
}

.productLowButtons button::after {
  content: "";
  background-color: #ffe54c;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.productLowButtons button:hover::after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .productLowButtons button {
    padding: 13px 50px 13px;
  }
}


.linkLabel {
  text-decoration: none;
  margin-right: 20px;
  color: aliceblue;
}

.receiptUl {
  list-style: none;
}
.receiptLi {
  display: flex;
  justify-content: space-around;
  height: 20px;
}